# Extend rel="me" protocol to protect pseudonymity and securely separate from PII

My software background is Digital Rights. I want to help secure our future
world and see the greater good we hand off to our children. I focus on
human safety, harm reduction, and data sovereignty.

People love the `rel="me"` protocol because it verifies websites and
profiles you want to be known by without authority, review or dispute.

We want to make it easier to confirm what is yours and make it possible for
social or blog sites that don't support HTML editing.

Mostly? We want to choose how we're known: reveal verified properties or
just a badge with the rank of confidence they represent.

This approach protects a community from those seeking to identify, harm or
even subpoena PII from the platform while honoring the tradition of open
standards and digital rights.

If you maintain an instance, or have opinions on how a verification badge
should look, I'd love to hear.
